*.ckpt
*.ckpt*
*.npy
*.pyc
*.tar.gz

*/logs/*
*/snapshots/*
*/events.*
*/inference/*

*.jpg
*.png
*.tfrecord

tfmodels/
svs_reader/
*/inference/
*/debug/
*/logs/
*/snapshots/
*FOV/
*ipynb_checkpoints
*/bottlenecks/

*.csv
*.txt
*checkpoint*
*events*
*.ipynb
